aside {
    width: 90%;
    font-style: italic;
    font-size: 1.2em;
    color: orangered;
    box-shadow: inset 5px 0 5px -5px #29627e;
}
aside > p {
    margin: .5rem;
}
body
{ 
	background-image: url("background.jpg");
	color: black;
	font size:1em;
	font style:bold;
	font weight:normal;
	font-family:Arial, Helvetica, sans-serif;
}
h1
{
	background-color:LightSteelBlue;
	color: Black;
	font-size:40 px;
	font-style:italic;
}
.menu{
	list-style:none;
	font-size:0.85em;
	font-style:bold;
	margin:0;
	padding:0;
	background:#40E0D0;
	text-transform:UpperCase;
	border-bottom:3px solid black;
	border-top:1px solid #ddd;
}
.menu li{
	display:inline-block;
	padding:2px 10px 2px 10px;
}
.menu li a{
	color:black;
	text-decoration:underline;
	line-height:1.6em;
}
.menu li a:hover{
	color:Sienna;
	cursor:pointer;
}
a:hover.tip{
	cursor:help; 
	background:#40E0D0;
}
.d3 {
   background-color: #40E0D0;
   width: 27%;
   display:block;
   margin: 10px;
   padding: 30px;
   font-size:30pt;
   color: #fff;
   text-shadow: 0px 1px 0px #006400,
   0px 2px 0px #888,
   0px 3px 0px #777,
   0px 4px 0px #666,
   0px 5px 0px #555,
   0px 6px 0px #444,
   0px 7px 0px #333,
   0px 8px 7px #001135;
   box-shadow: 10px 10px 20px 10px #999 inset; }
}
#Parentbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  background: cyan;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  
  flex-direction: column;  
  align-content: stretch;
  justify-content: space-around;
  align-items: center;

  flex: 1; 
}
#box1{
  -moz-flex: 1;
  -webkit-flex: 1;
  flex: 1; 
  background: powderblue;
}
#box2{
  -moz-flex: 1;
  -webkit-flex: 1;
  flex: 1; 
  background: powderblue;
}
#box3{
  -moz-flex: 1;
  -webkit-flex: 1;
  flex: 1; 
  background: powderblue;
}
@media only screen and (max-width:900px) {
  body {
    background-image: url("background1.jpg");
  }
}


